@use "@/styles/mixins" as *;
@use "@/styles/variables" as *;

button {
  appearance: none;
  border: none;
  background: none;
  font-family: $font-body;
  cursor: pointer;
}

.button {
  background-color: var(--primary);
  border-radius: $radius-lg;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  padding: 0 3rem;
  border: none;
  height: 3rem;
  text-wrap: nowrap;
  text-transform: uppercase;
  transition: background-color $transition-base;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  &:disabled {
    opacity: 0.5;
    cursor: wait;
  }
  &:not(:disabled) {
    &:hover {
      background-color: var(--primaryAlt);
      box-shadow:
        rgba(0, 0, 0, 0) 0px 0px 0px 0px,
        0 0 30px rgba(var(--primaryRGB), 0.4);
    }
    &:active {
      transform: translateY(2px);
    }
  }
  @include sm {
    font-size: 1.125rem;
  }
}
