@use "@/styles/mixins" as *;

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  border-top: 1px solid var(--border);
  p {
    font-size: 0.7rem;
  }
  @include md {
    p {
      font-size: 1rem;
    }
  }
}
