@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  display: flex;
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  border-radius: $radius-sm;
  border: var(--border);
  background-color: #fff;
  color: var(--foreground);
  transition: all 0.2s ease;

  &::placeholder {
    color: var(--foregroundAlt);
  }

  &:focus {
    border-color: var(--primary) !important;
    box-shadow: 0 0 0 3px rgba(var(--primaryRGB), 0.1);
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

textarea {
  min-height: 120px;
  resize: none;
}

label {
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  user-select: none;
}

html.dark {
  input,
  textarea {
    background-color: var(--backgroundAlt2);
    border-color: #2e2e2e;
  }
}
