section {
  padding: 5rem 2rem;
  .section-header {
    text-align: center;
    margin-bottom: 3rem;
  }
  .pre-headline {
    letter-spacing: 0.3em;
    color: var(--primary);
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .section-desc {
    color: var(--foregroundAlt);
  }
}
