.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.grow {
    flex: 1;
  }
}
