@use "../variables" as *;
@use "../mixins" as *;

#about {
  .story {
    max-width: 48rem;
    margin: 0 auto 5rem;
    &__card {
      @include glass-card;
      border-radius: $radius-xl;
      padding: 1.5rem;

      @include sm {
        padding: 2.5rem;
      }
    }
  }
}
