@use "@/styles/variables" as *;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  color: var(--foreground);
  background: var(--background);
  padding: 0;
  margin: 0;
}

.page {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
}

.absolute {
  position: absolute;
  &.inset-0 {
    inset: 0;
  }
}

// Colors

.c-primary {
  color: var(--primary);
}
.gradient-primary {
  background: linear-gradient(135deg, var(--primary), #da840b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
