@use "./variables";
@use "./globals";

@use "./common/animations";
@use "./common/typography";

@use "./components/button";
@use "./components/footer";
@use "./components/header";
@use "./components/section";
@use "./components/themeToggle";

@use "./sections/about";
@use "./sections/hero";
@use "./sections/projects";
