@use "./variables";
@use "./globals";

@use "./helper/flexbox";
@use "./helper/spacing";

@use "./common/animations";
@use "./common/typography";

@use "./components/button";
@use "./components/footer";
@use "./components/header";
@use "./components/input";
@use "./components/modal";
@use "./components/projectCard";
@use "./components/section";
@use "./components/story";
@use "./components/themeToggle";

@use "./sections/about";
@use "./sections/hero";
@use "./sections/projects";
@use "./sections/contact";
