@use "@/styles/variables" as *;

body {
  font-family: var(--font-poppins);
}
h1,
h2,
h3,
p,
a {
  margin: 0;
}

h1 {
  font-size: 4rem;
  line-height: 1.1;
}
// h2 {
//   font-size: 1.5rem;
//   font-weight: 400;
// }
// h3 {
//   font-size: 1.25rem;
//   font-weight: 400;
// }

a {
  color: inherit;
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.font-medium {
  font-weight: 500;
}
.bold {
  font-weight: bold;
}

@media (min-width: $breakpoint-md) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: $breakpoint-lg) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.75rem;
  }
}
