@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

body {
  font-family: var(--font-poppins);
}
h1,
h2,
h3,
p,
a {
  margin: 0;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  line-height: 1.1;
  @include md {
    font-size: 6rem;
  }
  @include lg {
    font-size: 8rem;
  }
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.05em;
  color: var(--foreground);
  font-size: 2.5rem;
  @include sm {
    font-size: 3rem;
  }
  @include md {
    font-size: 3.75rem;
  }
}

h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: var(--foreground);

  @include sm {
    font-size: 1.875rem;
  }
}

.pre-headline {
  letter-spacing: 0.3em;
  color: var(--primary);
  margin-bottom: 0.75rem;
  font-size: 1rem;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.font-medium {
  font-weight: 500;
}
.bold {
  font-weight: bold;
}
